[Desktop Entry]
Name=LVNAuth
Comment=Create and play visual novels
Exec=/app/bin/startup.sh
Icon=org.lvnauth.LVNAuth
Terminal=false
Type=Application
Categories=AudioVideo;
