[Desktop Entry]
Version=1.0
Name=LVNAuth
Comment=Create and play visual novels
Exec=lvnauth
Icon=${SNAP}/meta/gui/lvnauth.png
Terminal=false
Type=Application
Categories=Graphics;
